//––––––––––––––––––––––––––––––––––––––––––––––––––
// COLORS CONFIG AND OVERWRITES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Base colors

$primary: #CB2D3E;
$secondary: #A82150;
$tertiary: #f6770f;
